/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#nf-about {
    overflow: hidden;
    width: 500px;
    height: 500px;
    max-height: 450px;
}

#nf-about-pic {
    height: 50%;
    background: url(../images/verteego-logo.png) #000000 no-repeat center center;
    top: 25%;
    position: relative;
}

#nf-about-pic-container {
    height: 50%;
    background: #000000;
}

#nf-version {
    font-weight:500;
    font-size: 13px;
}

#nf-about-content p {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 15px;
    line-height: 15px;
}

#nf-about-content span.link {
    cursor: pointer;
    color: #007ed2;
    font-weight:900;
}

