/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Cluster Styles
*/

#cluster {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20px;
    right: 20px;
    overflow: auto;
}

#cluster-filter-controls {
    z-index: 1;
}

#cluster-header-text {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    margin-bottom: 30px;
}

#cluster-tabs-content {
    top: 80px;
}

#cluster-refresh-container {
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
}

#cluster-loading-container {
    float: left;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-top: 4px;
    margin-left: 3px;
}

#cluster-last-refreshed {
    font-weight: bold;
}

#cluster-header {
    padding-top: 10px;
}

/* cluster table */

.cluster-tabbed-table {
    position: absolute;
    top: 70px;
    left: 0px;
    bottom: 47px;
    right: 0px;
    min-height: 150px;
}

#cluster-tabs-content .slick-cell.cell-right {
    text-align: right;
    padding-right: 16px;
    padding-left: 2px;
}

#cluster-tabs-content .slick-header-column.header-right {
    text-align: right;
}

span.sorted {
    text-decoration: underline;
}

/* user details dialog */

#node-events {
    max-height: 200px;
}