[class^="fa-"]:before,
i[class*=" fa-"]:before {
    margin: -1px
}
i[class^="icon-"]:before,
i[class*=" icon-"]:before {
    margin: -2px
}
body {
    display: block;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    overflow: hidden;
    color: #262626
}
.value-color {
    color: #775351
}
ul.links li {
    float: left;
    display: block;
    margin-left: 10px;
    padding: 4px;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none
}
ul.links span.header-link-over {
    color: #264c58;
    text-decoration: underline
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.clear {
    clear: both
}
.pointer {
    cursor: pointer!important
}
.hidden {
    display: none
}
.blank,
.unset,
.sensitive {
    font-weight: normal!important;
    color: #a8a8a8!important
}
.required {
    font-weight: bold!important
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden
}
.ellipsis.multiline {
    white-space: normal
}
.table-cell {
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    float: left;
    margin-top: 4px
}
label {
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    color: #262626;
    letter-spacing: .05rem;
    display: block;
    margin-bottom: 2px
}
*::placeholder {
    color: #666666
}
*::-webkit-input-placeholder {
    color: #666666
}
*:-moz-placeholder {
    color: #666666
}
*::-moz-placeholder {
    color: #666666
}
*:-ms-input-placeholder {
    color: #666666
}
input[type=text],
input[type=password],
textarea {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px;
    padding: 0 10px 0 10px;
    resize: none;
    height: 32px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
input:focus,
textarea:focus {
    background-color: #fff;
    border: 1px solid #333333;
    box-shadow: 0px;
    outline: 0
}
textarea {
    overflow: hidden;
    padding: 10px 10px;
    resize: vertical;
    color: #262626;
    font-size: 13px!important
}
ul.property-info {
    list-style-type: disc;
    margin-left: 10px
}
ul.property-info li {
    padding: 0;
    margin-left: 10px
}
div.nf-checkbox {
    cursor: default;
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 4px
}
div.checkbox-unchecked {
    background: transparent url(../images/inputCheckbox.png) no-repeat scroll top left
}
div.checkbox-checked {
    background: transparent url(../images/inputCheckbox.png) no-repeat scroll top right
}
div.ajax-loading {
    background-image: url(../images/iconLoading.gif)
}
div.ajax-complete:before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 16px;
    color: #70b59a
}
div.ajax-error:before {
    font-family: FontAwesome;
    content: "\f1f8";
    font-size: 16px;
    color: #333333
}
.refresh-button {
    float: left
}
.ui-draggable .dialog-header {
    cursor: move
}
span.link {
    cursor: pointer;
    color: #333333;
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px solid #ccdadb;
    font-size: 13px;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
span.link-over {
    border-bottom: 1px solid #333333
}
span.link-bold {
    font-weight: bold;
    border-bottom: 0
}
button {
    height: 28px;
    width: 28px;
    border: 1px solid #ccdadb;
    background-color: rgba(249, 250, 251, 0.97);
    color: #333333
}
button.refresh-button {
    font-size: 16px
}
button:hover {
    border: 1px solid #333333
}
button:disabled {
    color: #ccdadb!important;
    cursor: not-allowed;
    border: 1px solid #ccdadb
}
button:focus {
    outline: 0
}
div:focus {
    outline: 0
}
input:focus {
    background-color: #fff;
    border: 1px solid #333333;
    box-shadow: 0px;
    outline: 0
}
.filter-controls {
    position: absolute;
    top: 10px
}
.filter-container {
    height: 32px;
    width: 100%;
    float: left
}
.filter {
    margin-right: 3px;
    float: left
}
input.filter {
    width: 173px
}
.filter-type {
    float: left;
    width: 148px
}
.filter-status {
    margin-top: 10px;
    color: #775351;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px
}
button.fa {
    color: #333333;
    font-size: 16px;
    cursor: pointer;
    line-height: 23px
}
button.icon {
    color: #333333;
    font-size: 16px
}
div.button-icon span {
    padding-left: 5px;
    vertical-align: middle;
    font-style: normal;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 11px
}
div.button-icon {
    float: left!important;
    margin-left: 20px;
    font-size: 18px!important
}
div.button {
    height: 32px;
    width: 90px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    line-height: 33px;
    text-align: center;
    border: 0;
    float: right;
    position: relative;
    background: #666666;
    color: #fff;
    cursor: pointer
}
div.button:hover {
    background-color: #333333
}
div.secondary-button {
    height: 32px;
    width: 90px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    line-height: 33px;
    text-align: center;
    border: 0;
    float: right;
    position: relative;
    background: #e3e8eb;
    color: #333333;
    cursor: pointer
}
div.secondary-button:hover {
    background-color: #c7d2d7
}
.qtip-nifi {
    border: 0!important;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.54)!important;
    box-shadow: 0px;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 500;
    font-size: 13px;
    color: #fff!important
}
div.nifi-tooltip {
    border: 0!important;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.80)!important;
    box-shadow: 0px;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 500;
    font-size: 13px;
    color: #fff!important;
    max-width: 500px;
    word-wrap: break-word
}
.scrollable {
    border-bottom: 1px solid #d0dbe0
}
.context-menu {
    display: none;
    position: absolute;
    z-index: 10006;
    font-size: 13px;
    padding: 3px 0;
    background-color: rgba(249, 250, 251, 0.97);
    border: 1px solid #333333;
    box-shadow: 0px;
    width: 215px;
    max-height: inherit;
    color: #333333
}
div.context-menu-item {
    cursor: pointer;
    height: 20px;
    padding-top: 4px;
    padding-left: 4px
}
div.context-menu-item.hover {
    background-color: #c7d2d7;
    box-shadow: 0px;
}
.context-menu-item-img {
    float: left;
    width: 16px;
    height: 16px;
    background-size: cover
}
.context-menu-item-img.fa {
    position: relative;
    top: 2px;
    left: 2px
}
.context-menu-item-img.icon {
    position: relative;
    top: 1px;
    left: 3px
}
div.context-menu-item-text {
    margin-left: 4px;
    line-height: 16px;
    float: left;
    color: #262626
}
md-progress-linear>div {
    background-color: #F5F5F5!important
}
.setting {
    margin-bottom: 15px
}
.setting-name {
    font-size: 12px;
    font-weight: 500;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    text-transform: capitalize;
    padding-bottom: 4px;
    color: #262626
}
.setting-name .fa {
    color: #333333;
    margin-left: 5px
}
.setting-field .fa {
    color: #333333;
    margin-left: 5px
}
.setting-field {
    line-height: normal;
    width: 100%;
    color: #775351;
    font-size: 13px;
    font-weight: 500
}
.setting-header {
    color: #666666;
    font-size: 12pt;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 20px;
    text-overflow: ellipsis
}
.CodeMirror {
    border: 1px solid #aaa;
    font-family: monospace;
    background-color: #fff;
    cursor: default;
    line-height: normal
}
md-toolbar#header {
    background-color: #f5f5f5
}
#nifi-logo {
    display: none
}
.component-button-grip {
    display: none
}
.graph-control-header {
    font-family: "Arial"
}
text.stats-value {
    fill: #333;
    font-family: Arial
}
text.stats-label {
    font-family: Arial;
    fill: #333
}




body,
#flow-status-container,
.graph-control,
.graph-control-header,
.ui-widget-content,
.dialog-header-text,
.tag-cloud,
.link{
font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#canvas-container{
  background-image:none;
  background-color:#F5F5F5;
}
#header{
  background-color:#FFFFFF !important
}
#header .icon{
  color:#666666;
}
#header #global-menu-button{
  background-color:#FFFFFF;
}
#global-menu-content{
  background-color:#FFFFFF !important;
  box-shadow:none !important;
  border:1px solid #CCCCCC;
}
.context-menu{
	background-color:#FFFFFF;
}
.md-open-menu-container{
  background-color:#FFFFFF !important;
  box-shadow:none !important;
}
#flow-status{
  background-color:#F7F7F7;
  box-shadow:none;
  border-bottom:1px solid #CCCCCC;
  
}
#flow-status .fa,
#flow-status .icon,
#flow-status .icon span,
#flow-status .fa span{
  color:#666666 !important;
font-size:12px;
}

/* DIALOG WINDOW */
.dialog-header,
.dialog-header-text{
  background-color:transparent;
  color:#333333 !important;
}

/* Tables */
.ui-widget-content{
  font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}


#navigation-buttons button,
#operation-buttons button{
  color:#333333 !important;
  background-color:transparent;
}
#operation-context-logo{
	display:none;
}
#operation-context-details-container{
padding-left:0px;
}
.graph-control{
  background-color:#FFFFFF !important;
  box-shadow:none !important;
  margin-left:10px;
  border:1px solid #CCCCCC !important;
  margin-bottom:10px !important;
}

md-toolbar#header{
  background-color:#F5F5F5;
}
#nifi-logo{display:none;
}
.component-button-grip{
  display:none;
}
.graph-control-header{
  text-transform:uppercase
}
text.stats-value{
  fill:#333333;
}
text.stats-label{
  font-family:Arial;
  fill:#333333;
}
#breadcrumbs{
  display:none;
}

text.processor-icon{
  fill:#524fff !important;
}
.run-status-icon,
text.connection-from-run-status, text.connection-to-run-status, text.expiration-icon{
  fill:#ff5a55;
}
text.process-group-invalid.has-validation-errors{
  fill:#ff5a55 !important;
}