/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
    font-size: 62.5%;
}

#splash {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #FFFFFF !important;
    z-index: 2000;
}

#splash-img {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

.large-spinner{
  width:32px;
  height:32px;
  background-image:url('../images/large-spinner.gif') !important;
  background-repeat:no-repeat !important;
}

div.context-menu-provenance {
    background-position: top left;
}

#user-links-container {
    float: left;
    z-index: 1300;
    margin-left: 20px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
}

.collapsed:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 16px;
    color: #8e8e8e;
    float: left;
    margin-right: 3px;
}

.expanded:before {
    font-family: FontAwesome;
    content: "\f0d7";
    font-size: 16px;
    color: #8e8e8e;
    float: left;
}

#new-template-description {
    position: absolute;
    top: 81px;
    bottom: 0px;
    height: inherit;
    min-height: 32px;
}

/* processor status styles */

div.disabled {
    float: left;
}

div.enabled {
    float: left;
    margin-left: 3px;
    margin-right: -3px;
}

div.stopped {
    float: left;
}

div.running {
    float: left;
}

div.has-errors, div.invalid {
    float: left;
    color: #ba554a !important;
}

div.has-errors:before, div.invalid:before {
    font-family: FontAwesome;
    content: "\f071";
    color: #ba554a;
}

div.transmitting {
    float: left;
}

div.not-transmitting {
    float: left;
    margin-top: 0px !important;
}

div.valid {
    float: left;
    background-color: transparent;
}

div.has-bulletins {
    color: #ba554a !important;
}

/*
    Styles for status/history/user tables.
*/

span.label, div.label {
    font-weight: bold;
}

div.inline-details {
    margin-top: 10px;
    margin-bottom: 3px;
}

div.inline-details div {
    margin: 2px 0;
}

tr.alt-row {
    background: #f5f5f5 none;
}

span.details-title {
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}

.last-refreshed-container {
    float: left;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px;
}

.refresh-toggle {
    float: left;
    margin: 0px 20px 0px 0px !important;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px;
}

/* new template */

#new-template-description {
    height: 210px;
}

/* upload */

#select-template-container {
}

#template-browse-container {
    display: block;
    height: 20px;
}

#select-template-label {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
}

#select-template-button {
    position: absolute;
    top: 0px;
    left: 135px;
    cursor: pointer;
    overflow: hidden;
}

#template-file-field {
    height: 28px;
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    z-index: 3000;
    cursor: pointer;
}

#submit-template-container {
    margin-top: 20px;
}

#selected-template-name {
    font-weight: bold;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px;
}

#upload-template-status {
    margin-top: 10px;
    font-weight: bold;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px;
    color: #ba554a;
}

#upload-template-container button {
    float: right;
    font-size: 16px;
    line-height: 14px;
    margin-left: 1px;
}

#upload-template-button {
    color: #8e8e8e;
    font-size: 16px;
    cursor: pointer;
}

#template-file-upload {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 300px;
}

#operation-context-id{
  color:#666 !important;
}
#bulletin-button{
  display:none !important;
}