/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* 
    New processor dialog.
*/

#new-processor-dialog {
    min-height:620px;
    height: 620px;
    width: 760px;
    min-width: 760px;
}

#new-processor-dialog span.link{
    cursor: pointer;
    color: #8e8e8e;
    font-weight: bold;
    display: inline-block;
    background-color: #E3E8EB;
    border-radius: 2px;
    padding: 1px 4px;
}

#processor-types-container {
    padding: 0px;
}

#processor-description-container {
    padding: 0px;
}

#processor-type-name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    min-height: 15px;
    padding: 0px 0px 5px 0px;
}

#processor-type-name-title {
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    padding: 20px 0px 10px 0px;
}

#processor-type-description {
    height: 62px;
    font-size: 12px;
    line-height: 16px;
    overflow-y: auto;
}

#processor-types-table {
    min-height: 150px;
    overflow: hidden;
    height: 70%;
    width: 100%;
}

#processor-types-table-container th {
    vertical-align: middle;
}

/*
    Processor type table filter
*/

#processor-type-filter-controls {
    min-height: 32px;
    padding: 0px;
}

#processor-type-filter {
    width: 200px;
}