/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#policy-management {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20px;
    right: 20px;
    overflow: auto;
}

#policy-management-header-text {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    margin-bottom: 24px;
}

#delete-policy-button {
    margin-top: -4px;
}

#new-policy-user-button {
    margin-top: -4px;
    margin-right: 5px;
    padding-left: 5px;
}

button.policy-button {
    float: right;
    margin-top: 4px;
}

button.policy-button:disabled {
    color: #CCDADB;
    cursor: not-allowed;
    border: 1px solid #CCDADB;
}

/*
    policy message
*/

#policy-message-container {
    height: 18px;
    color: #775351;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px;
    font-weight: 500;
}

#policy-message {
    float: left;
    margin-right: 4px;
}

#new-policy-message {
    float: left;
}

#override-policy-message {
    float: left;
}

/*
    policy selection
*/

div.policy-controls {
    float: left;
}

#policy-type-list {
    float: left;
    width: 190px;
    margin-right: 3px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

#component-policy-target {
    float: left;
    width: 200px;
    margin-right: 3px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

#controller-policy-target {
    float: left;
    width: 160px;
    margin-right: 3px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

div.policy-selected-component-container {
    float: left;
    margin-right: 20px;
}

div.policy-selected-component-details-container {
    float: left;
    padding-left: 10px;
}

div.policy-selected-component-type-icon {
    float: left;
}

div.policy-selected-component-type-icon i.icon {
    font-size: 28px;
    font-family: flowfont;
    color: #ad9897;
    margin-left: 2px;
}

div.policy-selected-component-name {
    height: 16px;
    font-size: 15px;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #262626;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.policy-selected-component-type {
    font-size: 12px;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #666666;
}

/*
    policy table
*/

#policy-table {
    position: absolute;
    top: 92px;
    left: 0px;
    bottom: 67px;
    right: 0px;
    overflow: hidden;
    background-color: #fff;
}

#policy-refresh-container {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 20px;
}

#policy-refresh-button {
    float: left;
}

#policy-loading-container {
    float: left;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-top: 4px;
    margin-left: 3px;
}

#policy-last-refreshed {
    color: #775351;
    font-weight: 500;
}

/*
    search users dialog
*/

#search-users-dialog {
    width: 450px;
    height: 250px;
}

#search-users-results .ui-autocomplete {
    max-height: 300px;
    overflow: auto;
    border: 1px solid #aaaaaa;
    z-index: 1351;
    border-radius: 0;
}

#search-users-results .ui-menu .ui-menu-item a.ui-state-focus {
    background: #D4E0E5 !important;
    border: 1px solid #999999;
    border-radius: 0;
}

/*
    admin policy message
*/

#admin-policy-message {
    float: right;
    margin-top: 8px;
    color: #775351;
    font-family: Lato, 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px;
}

/*
    override policy dialog
*/

#override-policy-dialog label {
    font-family: inherit;
    letter-spacing: inherit;
}
