/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#settings {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20px;
    right: 20px;
    overflow: auto;
}

div.settings-header-text {
    height: 28px;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 30px;
}

div.settings-container {
    position: absolute;
    top: 58px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#new-service-or-task {
    float: right;
}

#settings-refresh-container {
    position: absolute;
    bottom: 20px;
    right: 0px;
    left: 0px;
}

/* settings tabs */

div.settings-tabs {
    float: left;
}

#settings-tabs-content {
    top: 43px;
    bottom: 48px;
}

div.settings-table {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 20px;
    right: 0px;
    min-height: 150px;
}

span.sorted {
    text-decoration: underline;
}

div.settings-refresh-button {
    height: 24px;
    width: 26px;
    float: left;
}

#settings-loading-container {
    float: left;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-top: 4px;
    margin-left: 3px;
}

#settings-last-refreshed {
    font-weight: 500;
}

/* general */

#general-settings input {
    width: 350px;
    vertical-align: middle;
}

div.settings-buttons {
    float: right;
}

.editable.settings-buttons {
    float: left;
}

div.settings-buttons div.button {
    float: left;
}

div.controller-settings-table {
    top: 32px;
}