/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Styles for the custom processor ui shell.
*/

#shell-dialog {
    display: none;
    z-index: 1201;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
}

#shell-container {
    background: #fff;
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#shell-close-container {
    float: right;
}

#shell-undock-button {
    display: none;
    float: left;
    margin: 0px 5px 0px;
    color: #8e8e8e;
    font-size: 16px;
}

#shell-close-button {
    float: left;
    color: #8e8e8e;
    font-size: 16px;
}

#shell {
    position: absolute;
    top: 48px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}