/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
* {
    margin: 0;
    padding: 0;
}

#documentation-body {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* banners */

div.main-banner-header {
    display: none;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    line-height: 15px;
    color: #7e7e7e;
    margin: 0px auto;
    width: 100%;
    height: 1em;
    background-color: #fff;
    background-image: url(../images/bgHeader.png);
    background-position: center;
    background-repeat: no-repeat;
}

div.main-banner-footer {
    display: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    overflow: visible;
    background-color: #9eb9c7;
    background-image: url(../images/bgBannerFoot.png);
    background-repeat: repeat-x;
    background-position: left top;
}

/* documentation */

div.documentation-header {
    border-bottom: 1px solid #d1dee5;
    color: #365c6a;
    font-size: 13px;
    display: flex;
}

#component-list-toggle-link {
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #264c58;
    cursor: pointer;
    width: 12px;
    text-align: center;
    align-self: flex-end;
}

#header-contents {
    display: flex;
    flex-wrap: wrap;
}

#nf-title {
    font-size: 20px;
    margin: 5px 5px 0px 5px;
}

#nf-version {
    font-size: 14px;
    font-style: italic;
    color: #aaa;
    margin: 11px 5px 0px 5px;
    flex-grow: 1;
}

#selected-component {
    font-size: 20px;
    margin: 5px 5px 0px 5px;
}

/* content flex-box containers */

#component-root-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

#component-listing-container {
    flex-grow: 1;
    min-width: 312px;
    padding: 0px 4px 0px 4px;
}

#component-usage-container {
    flex-grow: 4;
    min-width: 300px;
    padding: 0px 4px 0px 4px;
}

/* component listing */

div.component-listing {
    overflow: auto;
    font-size: 16px;
}

div.component-listing div.section {
    margin-bottom: 15px;
}

div.component-listing div.header {
    font-weight: bold;
    color: #264c58;
}

div.component-links ul {
    list-style: none;
}

li.component-item {
    padding: 2px;
    padding-left: 4px;
    border-left: 8px solid transparent;
    font-family: "Open Sans","DejaVu Sans",sans-serif;
    font-size: 15px;
}

li.component-item a {
    color: #1e373f;
}

li.component-item:hover {
    border-left: 8px solid #d1dee5;
}

li.component-item:hover a {
    color: #264c58;
}

li.component-item.selected {
    border-left: 8px solid #CCCCCC;
}

div.component-links span.no-components {
    font-style: italic;
    color: #777;
}

/* component filter control */

#component-filter-controls {
}

#component-filter-container {
    margin-left: 2px;
}

#component-filter {
    font-size: 12px;
    height: 18px;
    line-height: 20px;
    width: 98%;
    float: left;
}

input.component-filter-list {
    color: #888;
    font-style: italic;
}

#component-filter-stats {
    font-size: 9px;
    font-weight: bold;
    color: #9f6000;
    clear: left; 
    line-height: normal;
    margin-left: 7px;
}

/* component usage */

#component-usage {
    overflow: auto;
    width: 100%;
    height: 100%;
    position: absolute;
}